 
body {
  box-sizing: border-box; 
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: #413DC2;
  background: #BEC23D;
}

h1, h2, h3 {
    font-family: 'Arvo', serif;
}
  
.title {
  text-align: center;
  margin-top: 150px;
}

.instructions {
  text-align: center;
  padding: 0px 20px 0px 20px;
}

form {
  text-align: center;
}

input {
  text-align: center;
  font-size: 160%;
  width: 250px;
  height: 40px;
  border-radius: 5px;
}

.classical_button {
  margin-top: 25px;
  width: 45px;
  height: 45px;
  font-size: 100%;
  background: white;
  border-radius: 5px;
}

.content {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.wikiTitle {
  margin: 0px 0px 0px 15px; 
  text-align: center;
}

.appendedImage {
  width: 250px;
  margin: auto;
}

.appendedSummary {
  display: block;
  padding: 0px 15px 0px 15px;
  line-height: 150%;
}

.instructions_list {
  display: block;
  text-align: left;
}

.appendedVideo {
  display: block;
}

.youTubeContent {
  padding: 0px 15px 0px 15px;
  
}



@media only screen and (min-width: 481px) and (max-width: 800px) {
   body {
     font-size: 24px;
   }

   .instructions {
    padding: 0px 30px 0px 30px;
   }

   input {
    width: 300px;
    height: 50px;
   }

   .classical_button {
     width: 55px;
     height: 55px;   
  }

   .appendedImage {
     width: 350px;
   }
 
   .appendedSummary {
    padding: 0px 55px 0px 55px;
   }

   .appendedVideo {
     width: 300px;
     height: 275px;
   }
 
 }




 @media only screen and (min-width: 801px){
   body {
     font-size: 28px;
   }

   .instructions {
    padding: 0px 200px 0px 200px;
   }

   input {
    width: 300px;
    height: 50px;
   }

   .classical_button {
     width: 65px;
     height: 65px;
   }

   .appendedImage {
     width: 400px;
   }

   .appendedSummary {
    padding: 0px 75px 0px 75px;
   }

   .appendedVideo {
    width: 400px;
    height: 300px;
  }

 }


  /* 
    large size: 
      Put (larger) YouTube videos side by side in > 800px

  4) Check for a11y access */
 